<launch>
    <!-- Start the image publisher node -->
    <node name="license_plate_detector_preprocessor" pkg="license_plate_detector_pkg" type="license_plate_detector_preprocessor.py" output="screen">
        <param name="left_width_percent" value="50" />

        <param name="left_image_left_side_crop" value="25" />
        <param name="left_image_right_side_crop" value="35" />
        <param name="left_image_top_crop" value="33" />
        <param name="left_image_bottom_crop" value="33" />

        <param name="right_image_left_side_crop" value="32" />
        <param name="right_image_right_side_crop" value="32" />
        <param name="right_image_top_crop" value="33" />
        <param name="right_image_bottom_crop" value="33" />
    </node>

    <!-- Start the first subscriber node to process the left side -->
    <node name="license_plate_detector_left" pkg="license_plate_detector_pkg" type="license_plate_detector.py" output="screen">
        <param name="topic_name" value="processed_left_frame"/>
        <param name="use_yolo" value="false"/>  <!-- Parameter to enable or bypass YOLO -->
    </node>

    <!-- Start the second subscriber node to process the right side -->
    <node name="license_plate_detector_right" pkg="license_plate_detector_pkg" type="license_plate_detector.py" output="screen">
        <param name="topic_name" value="processed_right_frame"/>
        <param name="use_yolo" value="false"/>  <!-- Parameter to enable or bypass YOLO -->
    </node>

    <!-- Map Plotter Node -->
    <node name="map_plotter" pkg="license_plate_detector_pkg" type="map_plotter.py" output="screen"/>

    <!-- Json publisher -->
    <node name="license_plate_json_publisher" pkg="license_plate_detector_pkg" type="license_plate_json_publisher.py" output="screen" />

</launch>
